@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
    --gray-background: #121214;
    --gray-cards: #202024;
    --gray-divider: #323238;
    --gray-placeholder: #7C7C8A;
    --gray-textapoio: #8D8D99;
    --grau-text: #C4C4CC;
    --gray-text-title:#E1E1E6;
    --white: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--gray-background);
    color: var(--white);
    height: 100vh;
    width: 100vw;
}